* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

#board {
    width: 500px;
    height: 500px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
}

div {
    width: 50px;
    height: 50px;
    border: 1px solid grey;
}
